<!DOCTYPE html>
<html>
    <head>
        <title>Report</title>
        <link rel="stylesheet" href="report.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body class="center-align form #212121 pink lighten-2  white-text ">
      <nav class="blue-grey darken-4">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Draupadi</a>
        </div>
      </nav>
      <div class="grid">

        <!--<form class="blue-grey darken-4" method="POST" action="/submit-form">
          <h2>Report A Crime</h2>
          <input placeholder="locality" id="locality" type="text" name="locality">
          <textarea id="textarea" class="materialize-textarea" name="textarea"></textarea>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
        </form>-->
        <table>
          <tr>
            <th>Number of Cases</th>
            <th>Location</th>
            <th>Keywords</th>
          </tr>
          <tr>
            <th>51</th>
            <th>Madivala Bangalore</th>
            <th>Molestation stalking</th>
          </tr>
          <tr>
            <th>43</th>
            <th>Bellandur Bangalore</th>
            <th>Rape eve-teasing</th>
          </tr>
          <tr>
            <th>12</th>
            <th>Langston Pune</th>
            <th>stalking cat-calling</th>
          </tr>
          <tr>
            <th>34</th>
            <th>Kornamangla Bangalore</th>
            <th>Rape</th>
          </tr>
          <tr>
            <th>22</th>
            <th>Banasvadi Bangalore</th>
            <th>Rape assualt</th>
          </tr>
        </table>
        <iframe src="/map" title="mapp" width=600 height=500 ></iframe>
      </div>
      <div class="report">
        <form class="white-text" method="POST" action="/submit-form">
          <h2>Report A Crime</h2>
          <input placeholder="locality" id="locality" type="text" name="locality">
          <textarea id="textarea" class="materialize-textarea" name="textarea" placeholder="Report"></textarea>
          <input type="checkbox" id="police" name="police" value="Police">
          <img src="checc.png" height=17 width=17>
          <label class="white-text" id="police" for="police">Send to the police</label>
          <br><br>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>

        </form>

      </div>
    </body>
</html>
